html
    head
        link(href="./css/main.css", rel="stylesheet")
        body
            span Click the ball
          div(class="images")
            div(data-id="left")
            div(data-id="center")

            div(data-id="right")
        script(src="./js/script.js")
