div.images {
  margin-top: 100px;
  display: flex;
  aling-items:center;
  justify-content: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;

  div {
    display:flex;
    aling-items:center;
    justify-content: center;
    flex:1;
    max-width: 50%;

    span {
      margin:10px;
    }

  }

  img {

    height: 100px;
    width: 100px;
  }

}